<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nutrientesbio">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".View.MainActivityView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.DicionarioView" />
        <activity android:name=".View.NutrienteView" />
        <activity android:name=".View.ListViewCheckboxesActivity" />
        <activity android:name=".View.QuestaoDois" />
        <activity android:name=".View.QuestaoTres" />
        <activity android:name=".View.QuestaoQuatro" />
        <activity android:name=".View.TelaDeParabens" />
        <activity android:name=".View.RotulosMain" />
        <activity android:name=".View.SobreMain" />
        <activity android:name=".View.RotuloDetalhes"></activity>
    </application>

</manifest>